body {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Style for table sorter plugin */
th.header { 
    background-image: url('images/bg.gif');
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
} 

th.headerSortUp { 
    background-image: url('images/asc.gif'); 
}

th.headerSortDown { 
    background-image: url('images/desc.gif');
}

table.species-population-global div { display: inline; }
table.two-rows-widget ul { margin: 0; padding: 0 ; list-style-type: none; }
table.two-rows-widget ul li { margin: 0; padding: 0 3px; display: inline; }
table.two-rows-widget div { display: inline; }

.ajax-progress { position: absolute; }

.reset-link {
    position: relative;
    top: 28px;
}