
/* Template styles */
#site-name-slogan { text-align: center; font-size: 20px; font-weight: bold; }
body { margin: 0; padding: 0; }

/* Bug: https://www.pivotaltracker.com/story/show/35025545 */
#overlay-container { margin-top: 20px; }

h1 { font-size: 20px; line-height: 20px; text-align: center;}
h2 { font-size: 18px; }

.breadcrumb { display: none; }
.footer p { font-size: 10px; color: #999; }

/* Admin enabled */
#user-menu {  }

/* Custom styles */
