#demo-badge {
    text-align: center;
    padding: 3px;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    background: #DD4814 !important;
    color: #FFF !important;
}

#demo-badge p {
    font-size: 16px;
    margin: 0;
    -webkit-transform: rotate(-90deg);
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    position: fixed;
    left: -2px;
    top: 75px;
}

/*.delta-order {
    display: none;
}
*/
body {
    padding-top: 60px;
    padding-bottom: 60px;
}

label {
    font-weight: bold;
}

.required-label {
    color: #FF0000;
}

.hidden {
    display: none;
}

.no-left-margin {
    margin-left: 0px;
}

/* Style for table sorter plugin */
th.header {
    background-image: url('images/bg.gif');
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
}

th.headerSortUp {
    background-image: url('images/asc.gif');
}

th.headerSortDown {
    background-image: url('images/desc.gif');
}

table.species-population-global div { display: inline; }
table.two-columns th { width: 200px; }
table caption { text-align: left; font-weight: bold; font-size: 16px; padding: 5px; }
table.two-columns div { display: inline; }

div.gallery {
    border: 1px solid #bbb;
    background-color: #F0F0F0;
    height: 200px;
}

.navbar .brand {
    display: block;
    padding: 10px 20px 0px 44px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(41, 37, 98); /* #555 */
    text-shadow: 0 1px 0 white;
    background: url(/sites/default/files/logo.png) no-repeat 0% 5px;
    height: 30px;
}

a.navbar .brand span {
    padding-bottom: 10px;
}

.navbar-inverse .navbar-inner {
    background: #0099cc;
    background: -moz-linear-gradient(top, #0099cc 0%, #006699 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0099cc), color-stop(100%, #006699));
    background: -webkit-linear-gradient(top, #0099cc 0%, #006699 100%);
    background: -o-linear-gradient(top, #0099cc 0%, #006699 100%);
    background: -ms-linear-gradient(top, #0099cc 0%, #006699 100%);
    background: linear-gradient(top, #0099cc 0%, #006699 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#006699', GradientType=0 );
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #FFF;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

.breadcrumb li {
    max-width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ajax-progress { position: absolute; }

.reset-link {
    cursor: pointer;
    position: relative;
    top: 28px;
}

footer.footer {
    padding-top: 5px;
}

footer.footer span {
    float: right;
}

.species-carousel,
.publication-carousel {
    height: 150px;
    overflow: hidden;
    margin-top: 28px;
    text-align: center;
}

.publication-alert,
.species-alert,
.project-alert {
    margin-top: 28px;
}

.species-carousel .carousel-inner a img,
.publication-carousel .carousel-inner a img,
.project-carousel .carousel-inner a img {
    margin: 0 auto;
}

.publication-carousel {
    height: auto;
}

.popover {
    width: 500px;
}

.help-block {
    clear: both;
}

.form-section-legend i {
    opacity:  0.5;
    margin-top: 6px;
    transition: opacity .2s;
    -moz-transition: opacity .2s; /* Firefox 4 */
    -webkit-transition: opacity .2s; /* Safari and Chrome */
    -o-transition: opacity .2s; /* Opera */
}

.form-section-legend i:hover {
    opacity: 1;
}

.text-center {
    text-align: center;
}

.container-inline-date .date-padding {
    float: none;
    padding: 0;
}

.selected {
    background: #DFDFDF;
}

#autocomplete {
    border: none;
    overflow: auto;
}

#autocomplete ul {
    padding: 0;
    margin: 2px 0;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
}

#autocomplete .dropdown-menu li:last-child {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
         -o-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
}

#autocomplete .dropdown-menu li:first-child {
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
         -o-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
}

#autocomplete .dropdown-menu {
    display: block;
    position: static;
    width: auto;
}

i.loading-image {
    background: transparent url('images/ajax-loader.gif') no-repeat scroll center center;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

#taxonomy-fields .form-autocomplete {
    width: 250px;
}

img.species-custom-image,
img.project-custom-image {
    max-height: 130px;
    margin: 0 auto;
}

.species-custom-image-author {
    font-size: 11px;
    margin: 5px 0 0 0;
    padding: 0;
}

#meeting-form .vertical-tabs,
#legal-instrument-form .vertical-tabs,
#cms-country-form .vertical-tabs,
#national-plan-form .vertical-tabs,
#publication-form .vertical-tabs,
#national-report-form .vertical-tabs,
#species-form .vertical-tabs,
#decision-form .vertical-tabs {
    display: none;
}

.dataTables_processing {
    position: absolute;
    top: 5% !important;
}

.dataTables_filter input {
    width: 310px;
}

.select-all-input {
    width: 15px;
}

#contacts-form label.radio,
#organization-form label.radio {
    width: auto;
}

/**
 * Chosen specific rules
*/
.chzn-container {
    max-width: 1024px;
}

.chzn-container .chzn-drop {
    width: 200px;
}

.chzn-container-multi .chzn-choices .search-field input {
    min-width: 190px;
}

.chzn-container .chzn-results li em {
    background: #ffeaa6;
    font-weight: bold;
}

#related-content-fields .chzn-container .chzn-drop {
    width: 750px;
}


/**
 * Specific multivalued form fields
*/

#field-aewa-pop-status-col-a-values,
#field-aewa-pop-status-col-b-values,
#field-aewa-pop-status-col-c-values {
    background: none;
}

#field-aewa-population-status-values .delta-order select,
.tabledrag-toggle-weight {
    display: none;
}

#field-aewa-population-status-values thead tr > th:first-child+th {
    display: none;
}

#edit_field_species_experts_chzn, #edit_field_species_experts_chzn .chzn-drop {
    width: 260px !important;
}
#related-content-fields.collapse.in{
	overflow: visible;
	height:auto;
}
#related-content-fields.collapse.out{
	overflow: hidden;
}
@media print {
    .btn,
    .navbar,
    .breadcrumb,
    #block-system-powered-by,
    .field-collection-view-links,
    .action-links,
    .carousel-control,
    .btn-toolbar {
        display: none;
    }

    .field-collection-view {
        border: none;
        margin: 0;
    }
}
