/* Colour theme for ASCOBANS portal */

/* HEADER */
.search-area-and-logos {
background: url("../images/header_wave_ascobans.png") 80% 0% no-repeat;
}

.global-menu {
border-bottom: 1px solid #00B9F0;
}

.global-menu > li {
background: #00B9F0;
}

.global-menu a {
color: #FFF;
}

.global-menu > .active-trail {
background: #00B9F0 url("../images/arrow_hexFFE6B5.png") 49% 110% no-repeat;
color: #444;
}

.region-secondary-menu {
background-color: #FEF1D8;
border: 1px solid #C6B099;
border-top: 0;
}

.global-menu .dropdown-menu a {
color: #00B9F0; /* low contrast */
color: #03A8DA;
}

.global-menu .active-trail,
.global-menu a:hover {
color: #444;
}

.global-menu .dropdown-menu .active-trail {
color: #7E6C55;
}

.global-menu > li > ul {
background-color: #FFE6B5;
}

.global-menu > li > ul > li > ul {
background-color: #FEF1D8;
}

.global-menu > li > ul .active-trail.dropdown-submenu {
background: #FFE6B5 url("../images/arrow_hexFEF1D8.png") 49% 110% no-repeat;
}


/* NEWS slideshow */
.view-news-slideshow .views-field-title {
background-image: -webkit-linear-gradient(top, rgba(141, 216, 247, 0), rgba(141, 216, 247, 0.7));
background-image: -moz-linear-gradient(top, rgba(141, 216, 247, 0), rgba(141, 216, 247, 0.7));
background-image: -o-linear-gradient(top, rgba(141, 216, 247, 0), rgba(141, 216, 247, 0.7));
background-image: linear-gradient(to bottom, rgba(141, 216, 247, 0), rgba(141, 216, 247, 0.7));
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation {
background: rgba(141, 216, 247, 0.7);
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation li a:hover {
background: url("../images/ascobans_news_hover.png") no-repeat;
}

.view-news-slideshow .views-field-title a:hover,
.view-news-slideshow .view-footer a:hover {
color: #575859;
}


/* TABBED MENU on homepage */
.ui-tabs .ui-state-default,
.block-quicktabs .ui-accordion-header.ui-state-default {
background: #FEF1D8;
}

.ui-tabs .ui-state-default:hover {
background: #fdc378;
}

.ui-tabs-nav li.ui-state-active,
.ui-tabs-nav li.ui-state-active:hover,
.block-quicktabs .ui-accordion-header.ui-state-active {
border-top: 4px solid #42C7F3;
}


/* RIGHT COLUMN */
body .well {
background-color: #FEF1D8;
border: 0;
}

.profile .table tbody > tr > th,
.working-group-profile-right .field-label {
color: #888;
}


/* homepage CALENDAR */
body .region-sidebar-second .calendar-calendar td,
body .region-sidebar-second .calendar-calendar table.mini td.empty,
body .region-sidebar-second .calendar-calendar th.days {
background-color: #FEF1D8;
}

body .view-calendar table .mini-day-on a {
border: 2px solid #FDC378;
}

body .view-calendar table .mini-day-on a:hover {
border: 2px solid #575859;
}


/* buttons */
.btn-primary {
background-color: #42C7F3;
border-color: #999;
}

.btn-primary:hover {
background-color: #FDC378;
border-color: #FDC378;
}

.search-results h3 a,
.view-front-end-news h2 a,
.view-front-end-working-groups h2 a,
.view-front-end-campaigns h2 a,
.view-front-end-awards h2 a {
color: #42C7F3;
}

.view-front-end-news .node-readmore,
.view-front-end-working-groups .node-readmore,
.view-front-end-campaigns .node-readmore,
.view-front-end-awards .node-readmore,
.page-search-site .facetapi-limit-link {
background: #ffe6b5;
}


/* SPECIES slideshow */
.carousel-control.right,
.carousel-control.left {
background: #42C7F3;
}


/* FIXES */
.global-menu.nav-show-level-2 {
margin-bottom: 36px;
}

.global-menu.nav-show-level-3 {
margin-bottom: 74px;
}


/* NEWS profile */
.profile blockquote p {
color: #aac177;
}


/* MOBILE */
@media (max-width: 800px) {
  body .search-area-and-logos {
  background-image: none;
  }

  .global-menu-bar,
  .sidebar-offcanvas {
  background: #00B9F0;
  }

  .navbar-default .navbar-toggle .icon-bar {
  background: #FFF;
  }

  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
  background: #00B9F0;
  border-color: #FFF;
  }

  .sidebar-offcanvas nav > ul ul {
  background-color: #FFE6B5;
  }

  .sidebar-offcanvas nav > ul ul li h2 a {
  color: #03A8DA;
  }

  .sidebar-offcanvas nav > ul li.opened > h2 > a {
  color: #444;
  }

  .sidebar-offcanvas nav > ul ul ul {
  background-color: #FEF1D8;
  }

  .sidebar-offcanvas nav > ul ul ul li h2 a {
  color: #888;
  border-bottom: 1px solid #888;
  }
}