/* Colour theme for avian MOU portals */

/* HEADER */
.search-area-and-logos {
background: url("../images/header_wave_avian.png") 100% 0% no-repeat;
}

.global-menu {
border-bottom: 1px solid #1BAACF;
}

.global-menu > li {
background: #1BAACF;
}

.global-menu a {
color: #FFF;
}

.global-menu > .active-trail {
background: #1BAACF url("../images/arrow_hexA4DDEC.png") 49% 110% no-repeat;
color: #4D4D4D;
}

.global-menu .dropdown-menu a {
color: #888;
}

.global-menu .active-trail,
.global-menu a:hover,
.global-menu .dropdown-menu .active-trail,
.submenu a:hover {
color: #4D4D4D;
}

.global-menu > li > ul {
background-color: #A4DDEC;
}

.global-menu > li > ul > li > ul {
background-color: #EBEBEB;
}

.global-menu > li > ul .active-trail.dropdown-submenu {
background: #A4DDEC url("../images/arrow_hexEBEBEB.png") 49% 110% no-repeat;
}


/* NEWS slideshow */
.view-news-slideshow .views-field-title {
background-image: -webkit-linear-gradient(top, rgba(207, 192, 172, 0), rgba(207, 192, 172, 0.7));
background-image: -moz-linear-gradient(top, rgba(207, 192, 172, 0), rgba(207, 192, 172, 0.7));
background-image: -o-linear-gradient(top, rgba(207, 192, 172, 0), rgba(207, 192, 172, 0.7));
background-image: linear-gradient(to bottom, rgba(207, 192, 172, 0), rgba(207, 192, 172, 0.7));
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation {
background: rgba(207, 192, 172, 0.7);
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation li a:hover {
background: url("../images/cms_news_hover.png") no-repeat;
}

.view-news-slideshow .views-field-title a:hover,
.view-news-slideshow .view-footer a:hover {
color: #FFD116;
}


/* TABBED MENU on homepage
  Quicktabs plugin uses Style:Basic */
ul.quicktabs-tabs.quicktabs-style-basic li.active,
ul.quicktabs-tabs.quicktabs-style-basic li.active:hover {
border-top: 4px solid #FFD116;
}


/* homepage CALENDAR  */
.view-calendar table .mini-day-on a:hover {
border: 2px solid #FFD116;
}


/* buttons */
.btn-primary {
background-color: #1baacf;
border-color: #1baacf;
}

.btn-primary:hover {
background-color: rgb(207, 192, 172);
border-color: rgb(207, 192, 172);
color: #777;
}

.search-results h3 a,
.view-front-end-news h2 a,
.view-front-end-working-groups h2 a,
.view-front-end-campaigns h2 a,
.view-front-end-awards h2 a {
color: #1baacf;
}


/* SPECIES slideshow */
.carousel-control.right,
.carousel-control.left {
background: #1BAACF;
}


/* FIXES */
.global-menu.nav-show-level-2 {
margin-bottom: 36px;
}

.global-menu.nav-show-level-3 {
margin-bottom: 74px;
}