/* Colour theme for CMS portal */

/* HEADER */
.search-area-and-logos {
background: url("../images/header_wave_cms.png") 80% 0% no-repeat;
}

.global-menu {
border-bottom: 1px solid #003871;
}

.global-menu > li {
background: #003871;
}

.global-menu a {
color: #FFF;
}

.not-front .global-menu > .active-trail {
background: #003871 url("../images/arrow_hex6687A8.png") 49% 110% no-repeat;
color: #FFD217;
}

.region-secondary-menu {
background-color: #6687A8;
}

.submenu a {
color: #FFF;
}

.global-menu .active-trail,
.global-menu a:hover,
.submenu .active-trail a,
.submenu a:hover {
color: #FFD217;
}

.global-menu > li > ul {
background-color: rgb(102,135,168);
}

.global-menu > li > ul > li > ul {
background-color: rgb(153, 175, 198);
}

.global-menu > li > ul .active-trail.dropdown-submenu {
background: #6687A8 url("../images/arrow_hex99AFC6.png") 49% 110% no-repeat;
}

.submenu .region-tertiary-menu .active-trail a,
.submenu .region-tertiary-menu a:hover {
color: #FFD217; /* 'CMS yellow' colour does not offer enough contrast on a rgb(153, 175, 198) background  */
color: #FFE473;
}


/* NEWS slideshow */
.view-news-slideshow .views-field-title {
background-image: -webkit-linear-gradient(top, rgba(0, 56, 113, 0), rgba(0, 56, 113, 0.7));
background-image: -moz-linear-gradient(top, rgba(0, 56, 113, 0), rgba(0, 56, 113, 0.7));
background-image: -o-linear-gradient(top, rgba(0, 56, 113, 0), rgba(0, 56, 113, 0.7));
background-image: linear-gradient(to bottom, rgba(0, 56, 113, 0), rgba(0, 56, 113, 0.7));
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation {
background: rgba(0, 56, 113, 0.7);
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation li a:hover {
background: url("../images/cms_news_hover.png") no-repeat;
}


/* TABBED MENU on homepage */
.ui-tabs-nav li.ui-state-active,
.ui-tabs-nav li.ui-state-active:hover,
.block-quicktabs .ui-accordion-header.ui-state-active {
border-top: 4px solid #FFD116;
}

.ui-tabs .ui-state-default:hover {
background: #DDD;
}

.ui-tabs .ui-state-default,
.block-quicktabs .ui-accordion-header.ui-state-default {
background: #f9f9f9;
}


/* homepage CALENDAR  */
.view-calendar table .mini-day-on a:hover {
border: 2px solid #FFD116;
}


/* buttons */
.btn-primary {
color: #FFF;
background-color: #0066c0;
border-color: #0066c0;
}

.btn-primary:hover {
background-color: #FFD116;
border-color: #FFD116;
color: #444;
}

.search-results h3 a {
color: #0066c0;
}

.view-front-end-news h2 a,
.view-front-end-working-groups h2 a,
.view-front-end-campaigns h2 a,
.view-front-end-awards h2 a {
color: #5E9732;
}

.view-front-end-news .node-readmore,
.view-front-end-working-groups .node-readmore,
.view-front-end-campaigns .node-readmore,
.view-front-end-awards .node-readmore,
.page-search-site .facetapi-limit-link,
.page-taxonomy .node-teaser .node-readmore {
background: #CCD7E2;
}


/* SPECIES slideshow */
.carousel-control.right,
.carousel-control.left {
background: #0066c0;
}


/* NEWS profile */
.profile blockquote p {
color: #5E9732;
}


/* MOBILE */
@media (max-width: 800px) {
  body .search-area-and-logos {
  background-image: none;
  }

  .global-menu-bar {
  background: #003871;
  }
}