/* generic theme for CMS portals */

/* GENERAL */
body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Lato', sans-serif;
}

body {
font-size: 15px;
}

a.external {
background: url("../images/external.png") 100% 40% no-repeat;
padding-right: 16px;
}


/*  HEADER */
.site-identity {
margin-top: 5px;
width: 100%;
}

.logo {
margin-top: 0;
margin-bottom: 0;
padding: 0;
display: inline-block;
float: left;
overflow: hidden;
padding: 10px 20px 0px;
}

.down-area {
margin-top: -17px;
}

.search-area-and-logos {
width: 50%;
height: 69px;
float: right;
}

.region-header {
width: 80%;
display: inline-block;
}

#search-block-form {
float: right;
}

.small-logos {
width: 80px;
display: inline-block;
float: right;
padding-right: 10px;
padding-top: 5px;
}

.portal-title {
font-size: 25px;
padding: 0;
margin-top: 13px;
font-weight: 700;
}

.top-user-menu {
width: 50%;
text-align: right;
float: left;
}

.language-menu,
.user-menu {
list-style-type: none;
display: inline-block;
vertical-align: top;
}

.language-menu {
padding-left: 0px;
padding-top: 0px;
}

.user-menu {
margin-bottom: 0;
padding-left: 20px;
padding-top: 6px;
}

.user-menu li {
display: inline-block;
padding-right: 8px;
}

.UNEP-logo {
display: inline-block;
}

body .input-group.search-area  .form-control {
border-radius: 3px;
width: 235px;
margin-top: 5px;
}

.language-menu .btn-default {
border: 0px;
}

.language-menu .dropdown-menu {
max-width: 40px;
min-width: 10px;
box-shadow: 0px 0px 0px;
font-size: 12px;
}

.language-menu .dropdown-menu>li>a {
padding: 3px 9px;
}

.language-menu .btn-default:hover,
.language-menu .btn-default:focus,
.language-menu .open .dropdown-toggle.btn-default {
background-color: #fff;
}

.language-menu .dropdown-menu>li>a:hover {
background: #fff;
color: #888;
}


/* GLOBAL MENU */
.global-menu-bar {
background: #fff;
margin-top: 10px;
}

.global-menu {
overflow: hidden;
padding-left: 95px;
width: 100%;
}

.global-menu li {
list-style-type: none;
height: 45px;
text-transform: uppercase;
padding: 0px 15px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin-right: 2px;
height: 38px;
min-width: 104px;
text-align: center;
text-transform: none;
}

body ul.secondary {
float: left;
}

.global-menu h2 {
font-size: 15px;
font-weight: 400;
margin-top: 11px;
}

.global-menu h2 a:hover {
text-decoration: none;
}
/* end refactoring the global menu */

.navbar-default {
background-color: #fff;
border: 0px;
}

.navbar-brand.mobile {
display: none;
}

.top-right-header div {
float: right;
}

.top-right-header .language-menu {
float: left;
}


/* GLOBAL SUBMENU level 1 */
.navbar-inverse.submenu {
background-color: #fff;
border: 0px;
margin-bottom: 0px;
}

.submenu h2 {
margin-top: 9px;
margin-bottom: 12px;
font-size: 15px;
}

.submenu li {
padding: 0px 8px;
}

.submenu a:hover {
text-decoration: none;
}


/* GLOBAL SUBMENU level 2 */
.navbar.submenu {
min-height: 0;
}

.submenu .active-trail.dropdown-submenu {
background: #6687A8 url("../images/arrow_hex99AFC6.png") 49% 106% no-repeat;
}

.region-tertiary-menu {
background-color: rgb(153, 175, 198);
}

.region-tertiary-menu ul {
padding-left: 12px;
}

.submenu .region-tertiary-menu .active-trail a,
.submenu .region-tertiary-menu a:hover {
color: #FFD217; /* 'CMS yellow' colour does not offer enough contrast on a rgb(153, 175, 198) background  */
color: #FFE473;
}


/* BREADCRUMBS */
.breadcrumb {
background-color: #fff;
padding: 8px 15px 8px 6px;
}

.breadcrumb li {
font-size: 13px;
}


/*  CENTER COLUMN */
.center-column {
margin-bottom: 20px; /* useful for the last portlets */
}

.center-column .page-header {
font-size: 30px;
font-weight: 700;
color: rgb(68,68,68);
margin-top: 5px;
border-bottom: 0px;
}

#intro-text {
font-size: 16px;
}

.well.white {
background-color: #fff;
border: 0px;
box-shadow: 0px 0px 0px;
padding: 5px 19px 5px 0px;
margin-bottom: 0px;
}

.white .panel {
padding: 5px;
/*font-size: 12px;  TOO little for Lato font*/
margin-bottom: 8px;
box-shadow: 0px 0px 0px;
}

.block-title {
font-weight: bold;
color: #555;
}



/* RIGHT COLUMN */
#feedback .btn,
.right-column #members .btn {
width: 100%;
font-weight: 900;
font-size: 13px;
text-transform: uppercase;
}

.right-column section {
padding-bottom: 15px;
padding-top: 15px;
border-bottom: 1px solid #ddd;
}

.right-column .last {
border-bottom: 0px;
}

.right-column .first {
padding-top: 0px;
}


/* FOOTER */
.well-footer {
padding: 20px;
}

.subscribe-social,
.footer-menu {
background: rgb(238, 238, 238);
}

.footer-menu ul li {
width: 18%;
display: inline-block;
vertical-align: top;
margin-right: 15px;
}

.footer-menu h2 {
font-size: 20px;
margin-bottom: 0;
}

.footer-menu h2 a {
color: #444;
}

.footer-menu ul ul {
display: block;
}

.footer-menu ul ul li {
outline: 0px;
width: 100%;
}

.footer-menu ul ul h2 {
font-size: 15px;
margin: 6px 0px;
}

.footer-menu ul ul h2 a {
color: #0066C0;
}

/* this block for dropdown-menu to be removed if we remove the class */
.footer-menu .dropdown-menu {
position: relative;
background: rgb(238, 238, 238);
border: 0px;
box-shadow: none;
}

.form-control.email-input,
.simplenews-subscribe .form-text {
width: 60%;
float: left;
margin-right: 5px;
}

.subscribe-social {
border-top: 1px solid #DDD;
}

.subscribe-social a {
margin-right: 10px;
display: inline-block;
vertical-align: bottom;
}

.disclaimers {
background: rgb(68, 68, 68);
color: #eee;
padding-top: 30px;
padding-bottom: 30px;
font-size: 12px;
font-family: Arial,sans-serif; /* Lato font looks creepy on small size text */
}

.well-footer .block h2.block-title {
font-weight: normal;
}

.subscribe-social .on-the-web {
margin-right: 5px;
}

.subscribe-social .on-the-web img {
display: none; /* hide plugin icons for Twitter, Facebook and Youtube, since they're not the official icons */
}

.subscribe-social .otw-twitter a {
background: url("../images/twitter_logo_25x25.png") no-repeat;
width: 25px;
height: 25px;
}

.subscribe-social .otw-facebook a {
background: url("../images/facebook_logo_25x25.png") no-repeat;
width: 25px;
height: 25px;
}

.subscribe-social .otw-youtube a {
background: url("../images/youtube_logo_69x25.png") no-repeat;
width: 69px;
height: 25px;
}

.disclaimers h2 {
font-size: 12px;
margin-top: 0px;
}

.menu-name-menu-footer-menu a {
color: #fff;
}

.menu-name-menu-footer-menu li {
display: inline-block;
margin-right: 5px;
}

.simplenews-subscribe label {
display: none;
}

.simplenews-subscribe .btn-default {
color: #ffffff;
background-color: #428bca;
border-color: #357ebd;
font-weight: 900;
font-size: 13px;
text-transform: uppercase;
}

.simplenews-subscribe .btn-default:hover {
color: #fff;
background-color: #3276b1;
border-color: #285e8e;
}

.menu-name-menu-footer-menu .first.last {
background: none; /* delete this block if Sitemap link becomes public */
}

.menu-name-menu-footer-menu .first {
background: url("../images/white_middle_point.png") 48px 4px no-repeat;
padding-right: 10px;
}

.region-footer-second-row-right {
text-align: right;
}



/* ARTICLES */
.article-body .glyphicon-zoom-in {
font-size: 30px;
color: #F5F2F2;
top: 90px;
left: -47px;
background: rgba(65, 65, 65, 0.58);
padding-left: 5px;
padding-top: 2px;
padding-bottom: 10px;
width: 44px;
}

.region-tag a,
.instrument-tag a {
color: #fff;
text-decoration: none;
}

#article-tags li {
margin-bottom: 10px;
margin-right: 5px;
}

.glossary-term,
.glossary-term:hover {
background: #eee;
color: rgb(233,94,39);
}

.author-date .media-heading {
margin-top: 5px;
}

.article-photo,
.article-photo:hover {
text-decoration: none;
}

.article-body img.article-photo-magnifier {
width: 18px;
position: absolute;
left: 16px;
background: rgba(112, 112, 112, 0.62);
}

.article-body img.article-photo-magnifier:hover {
background: rgba(66, 65, 65, 0.62);
}

.node-nfp-manual .field,
.node-community-checklist .field,
.node-practice-example .field,
.field-name-field-article-tag-regions,
.field-name-field-article-tag-treat-agr-mou {
margin-bottom: 20px;
}

.node-article.node-promoted .field-name-field-article-tag-regions {
margin-top: 20px;
}

#node-3916 dd,
.node-page dd {
margin-left: 40px;
}

#node-3916 dt {
padding: 5px 0px;
}



/* COMMENTS */
.comment {
margin-bottom: 15px;
}

.comment .comment-text { /* partially from DRUPAL */
border: 1px solid #d3d7d9;
padding: 10px 25px; /* do NOT uncomment */
}

.comment .comment-arrow { /* partially from DRUPAL */
background: url(../images/comment-arrow.png) no-repeat 0 center transparent;
height: 40px;
margin-left: -45px;
margin-top: 10px;
position: absolute;
width: 20px;
}

.comment-time {
font-size: 10px;
margin-bottom: 0;
}

.commenter-name {
font-style: normal;
font-weight: bold;
margin-bottom: 0px;
}

.comment-text .links li {
margin-right: 5px;
}

.comment h3,
.comment-wrapper h2  {
font-size: 18px;
}

#block-comment-recent .media-body a,
#block-comment-recent .media-body span {
font-size: 13px;
}


/* FIXES */
.region-secondary-menu .menu.nav {
padding-left: 12px;
}

.region-secondary-menu .menu.nav li {
display: inline-block;
}

.global-menu-bar .caret {
display: none; /* hide the dropdown arrow */
}

.panel {
padding: 5px;
}

.block-title {
font-size: 22px;
}

.region-sidebar-second.well,
.region-sidebar-first.well {
margin-top: 30px; /* because breadcrumbs belong to center-column, not to header */
}

.region-sidebar-second ul,
.region-sidebar-first ul {
list-style-type: square;
color: #999;
padding-left: 20px;
}

.indented {
margin-left: 25px;
}

.form-group {
margin-bottom: 10px;
}

.field-collection-view {
background: #eee; /* override from field_collection.theme.css */
padding-left: 15px;
}

.field-collection-container {
margin-top: 10px;
}

.article-body p {
overflow: hidden;
}


/* USER PROFILE */
.profile2-nfp-profile .field .field-label,
.field-name-field-practice-ex-contact-person .field-label {
display: inline-block;
width: 120px;
}

.profile2-nfp-profile .field-items,
.field-name-field-practice-ex-contact-person .field-items {
display: inline-block;
}

.field-name-field-practice-ex-contact-person > .field-label {
vertical-align: top;
}

.profile2-nfp-profile .field {
padding: 10px;
}

/* AMMAP */
#states_ammap {
    width: 100%;
    height: 480px;
    margin: 0 auto 2em auto;
}

/* VIEWS (DRUPAL) */
table.views-table > caption {
    /*from bootstrap h4*/
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
}

/* Colour theme for CMS portal.
    To be moved in a different stylesheet */
/* HEADER */
.search-area-and-logos {
background: url("../images/header_wave_cms.png") 100% 0% no-repeat;
}

.global-menu {
border-bottom: 3px solid #6687A8;
}

.global-menu li {
background: #003871;
}

.global-menu a {
color: #FFF;
}

.global-menu > .active-trail {
background: #003871 url("../images/arrow_hex6687A8.png") 49% 106% no-repeat;
color: #FFD217;
}

.region-secondary-menu {
background-color: #6687A8;
}

.submenu a {
color: #FFF;
}

.global-menu .active-trail a,
.global-menu a:hover,
.submenu .active-trail a,
.submenu a:hover {
color: #FFD217;
}
/* end colour theme for CMS portal */
