/* Colour theme for EUROBATS portal */

/* HEADER */
.search-area-and-logos {
background: url("../images/header_wave_eurobats.png") 100% 0% no-repeat;
}

.global-menu {
border-bottom: 3px solid #79A5D6;
}

.global-menu li {
background: #0F235B;
}

.global-menu a {
color: #79A5D6;
}

.global-menu > .active-trail {
background: #0F235B url("../images/arrow_hex6687A8.png") 49% 122% no-repeat;
color: #FFF;
}

.region-secondary-menu {
background-color: #79A5D6;
}

.submenu a,
.global-menu .active-trail a,
.global-menu a:hover {
color: #FFF;
}

.submenu .active-trail a,
.submenu a:hover {
color: #0F235B;
}


/* NEWS slideshow */
.view-news-slideshow .views-field-title {
background-image: -webkit-linear-gradient(top, rgba(121, 165, 214, 0), rgba(121, 165, 214, 0.7));
background-image: -moz-linear-gradient(top, rgba(121, 165, 214, 0), rgba(121, 165, 214, 0.7));
background-image: -o-linear-gradient(top, rgba(121, 165, 214, 0), rgba(121, 165, 214, 0.7));
background-image: linear-gradient(to bottom, rgba(121, 165, 214, 0), rgba(121, 165, 214, 0.7));
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation {
background: rgba(121, 165, 214, 0.7);
}


/* TABBED MENU on homepage */
ul.quicktabs-tabs.quicktabs-style-basic {
background: #ddd;
}

ul.quicktabs-tabs.quicktabs-style-basic li.active,
ul.quicktabs-tabs.quicktabs-style-basic li.active:hover {
border-top: 4px solid #0F235B;
}