/* FIXES for Internet Explorer 8 */

/* IE8 does not support HTML5 and media queries, 
so the interface will be UNresponsive 
and optimised for 1024x768px */


/* HEADER */
.container {
max-width: 970px;
}

.container .col-md-4 {
width: 323px;
}

.container .col-md-5 {
width: 404px;
}

.container .col-md-7 {
width: 566px;
}

.container .col-md-8 {
width: 647px;
}

.site-identity,
.subscribe-social .col-md-4,
.disclaimers .col-md-8 {
float: left;
}

.disclaimers .col-md-4 {
float: right;
}

.global-menu.menu.nav.navbar-nav {
margin: 0;
}

.global-menu.menu.nav.navbar-nav li {
display: inline-block;
}

.global-menu.menu.nav.navbar-nav h2 {
display: inline-block;
margin-top: 15px;
}

.submenu .navbar-header,
button.navbar-toggle {  /* hide button for Bootstrap collapsable menu */
display: none;
}

.region-secondary-menu,
.region-tertiary-menu {
width: 955px;
}


/* Introduction page CONTENT */
.center-column.col-md-9 {
width: 728px;
float: left;
}

.center-column.col-md-6 {
width: 485px;
float: left;
}

.region-sidebar-second.well,
.region-sidebar-first.well {
width: 213px;
}

.region-sidebar-first {
float: left;
}

.region-sidebar-second {
float: right;
}

.panel {
padding: 5px;
}

.region-sidebar-second .block-title {  /* horizontal line for separating various portlets; section tags are not seen by IE8 */
border-top: 1px solid #ddd;
padding-top:10px;
}


/* article page content */
.article-date {
display: inline-block;
width: 80%;
margin-bottom: 50px;
}


/* filters */
ul.no-padding {
list-style-type: none;
}

.chapter {
font-weight: bold;
}

.generic-pagination .col-md-3 {
width: 179px;
}

.generic-pagination .col-md-6 {
width: 358px;
float: right;
}

.total-items {
float: left;
}


/* CHANGES for integrating the old header */
.left-header {
width: 81px;
float: left;
}

.right-header {
width: 889px;
float: right;
padding-right: 0;
}

.search-area {
float: right;
}

.small-logos {
padding-right: 4px;
}

.global-menu {
width: 101.6%;
}

.navbar-nav.nav.menu.global-menu h2 {
margin-top: 10px;
}


/* fixes for menu level 3 */
.submenu .secondary,
.submenu .tertiary {
margin-top: 0;
margin-left: 0;
}

.submenu,
.region-tertiary-menu {
max-height: 38px;
}


/* fixes for Species List page */
.view-front-end-species .col-md-6 {
width: 470px;
}

.view-front-end-species .view-filters {
float: left;
}

.view-front-end-species .view-header {
float: right;
}