/* MOBILE DEVICES */

/* tablets under 1024x768px */
@media (max-width: 1023px) {


  /* header */
  .logo {
  padding-top: 0;
  }

  .right-header.col-sm-11 {
  padding-right: 0;
  }

  .region-header {
  width: 76%;
  }

  form#search-block-form {
  margin-left: 10px;
  }

  .global-menu {
  padding-left: 0;
  }

  .global-menu.nav-show-level-2 {
  margin-bottom: 38px;
  border-bottom: 0;
  }

  .global-menu.nav-show-level-3 {
  margin-bottom: 56px;
  }

  body .global-menu > li > ul .active-trail.dropdown-submenu {
  background-image: none;
  }


  /* homepage */
  .view-news-slideshow img,
  .view-news-slideshow .views-field-title  {
  width: 720px;
  }

  .view-news-slideshow img {
  height: 374px;
  }

  .view-news-slideshow .view-footer a {
  right: 33px;
  }

  .species-custom-image-author {
  text-align: center;
  }

  #block-random-species-random-species p a {
  padding-left: 0;
  }


  /* footer */
  .footer-menu ul li {
  width: 17%;
  }

  .footer-menu .dropdown-menu {
  min-width: 120px;
  }

  .region-footer-second-row-right ul {
  margin-top: 20px;
  }

  .region-footer-second-row-right ul .leaf {
  background: none;
  display: block;
  text-align: left;
  }

}


/* tablets with less than/equal 800x600px */
@media (max-width: 800px) {


  /* header */
  .down-area {
  margin-top: 0;
  }

  .region-header {
  width: 70%;
  }

  .small-logos img {
  display: none;
  }

  .small-logos .CMS-logo-small {
  display: inline-block;
  background: url("../images/CMS_logo_32x34px.png") 100% 0% no-repeat;
  height: 34px;
  width: 32px;
  }

  .small-logos .UNEP-logo {
  background: url("../images/UNEP_logo_32x34px.png") 100% 0% no-repeat;
  height: 34px;
  width: 32px;
  }

  .global-menu > li {
  border-right: 0;
  display: block;
  text-align: left;
  }

  .front .global-menu > li > div.submenu-teaser > ul {
  display: none;
  }

  body .global-menu.nav-show-level-2 .dropdown-menu {
  width: 100% !important;
  }


  /* footer */
  .footer-menu ul li {
  width: 100%;
  }
}



/* smartphones with less than/equal 480px width */
@media (max-width: 480px) {


  /* header */
  .breadcrumb  {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  }

  .down-area {
  margin-top: 0;
  }

  .logo-title {
  margin-top: 0;
  }

  .top-user-menu,
  .search-area-and-logos {
  width: 100%;
  }

  body .search-area-and-logos {
  height: 40px;
  background-image: none;
  }

  .region-header {
  width: 98%;
  }

  form#search-block-form {
  float: right;
  }

  .navbar-collapse {
  border-top: 0;
  }


  /* homepage */
  .view-news-slideshow .views-field-title {
  width: 425px;
  }

  .view-news-slideshow img {
  height: auto;
  }

  .view-news-slideshow .views-field-title .field-content {
  min-height: 86px;
  margin-top: 15px;
  }

}
