/* print-friendly pages */
@media print {
  .survey-link,
  .admin-search-logos,
  .logo:after,
  footer,
  .view-news-slideshow a:after,
  .right-column a:after,
  .instruments-slideshow a:after,
  .social-plugins,
  .drupal_ammap_container a:after,
  .view-front-end-countries a:after,
  .instrument-sidebar #item_list,
  .instrument-full-width a:after,
  .breadcrumb,
  .node-type-country a:after,
  .page-meetings-conference-of-parties a:after,
  .dataTables_length,
  .dataTables_filter,
  .dataTables_paginate,
  #gmap a:after,
  .meeting-right a:after,
  .meeting-full-width .btn,
  .meeting-full-width a:after,
  .meeting-full-width .panel-collapse .view-footer,
  .view-front-end-meetings a:after,
  .view-filters,
  .view-front-end-documents a:after,
  .document-right a:after,
  .working-group-profile-right a:after,
  .working-group-full-width a:after,
  .document-left .tab-content a:after,
  .view-front-end-working-groups a:after,
  .view-front-end-working-groups .links,
  .view-front-end-projects a:after,
  .project-profile-left a:after,
  .project-profile-right a:after,
  .read-less,
  .view-front-end-campaigns a:after,
  .campaign-profile-right .field-name-field-instrument a:after,
  .view-front-end-awards a:after,
  .view-front-end-awards .fr,
  .view-front-end-awards .es,
  .view-front-end-awards .en,
  .award-profile-right a:after,
  .view-front-end-species a:after,
  .species-left-column a:after,
  .species-right-column .carousel a:after,
  .view-front-end-publications a:after,
  .publication-right a:after,
  .view-front-end-cms-instruments a:after,
  .view-front-end-news a:after,
  .news-profile-left .field-name-field-gallery a:after,
  .view-front-end-news .fr,
  .view-front-end-news .es,
  .view-front-end-news .en,
  #site-map a:after,
  .nav-tabs,
  .page-user a:after,
  .action-links,
  .field_collection_item_operations,
  .country-profile-left .sticky-header th:nth-child(5n),
  .country-profile-left .sticky-table th:nth-child(5n) {
  display: none;
  }

  .navbar-collapse.collapse,
  .node-readmore {
  display: none !important;
  }

  .logo-title,
  .col-md-4.profile,
  .page-header {
  margin-top: 20px;
  }

  .site-identity {
  display: inline-block;
  width: 90px;
  padding-bottom: 0;
  }

  .logo,
  .down-area,
  .portal-title,
  .view-front-end-news h2 {
  margin-top: 0;
  }

  .down-area.hidden-xs {
  display: inline-block !important;
  vertical-align: top;
  padding-top: 5px;
  }

  .portal-subtitle {
  padding: 0;
  }

  a:after {
  color: #0066C0;
  font-size: 11pt;
  }

  .view-news-slideshow .views-field-title-field a,
  .view-news-slideshow .view-footer a {
  color: #FFF !important;
  }

  .view-news-slideshow .view-footer a {
  left: 25px;
  top: 350px;
  }

  .col-md-4.profile .field-items {
  max-width: 62%;
  }

  .col-md-4.profile .field,
  .col-md-4.profile table {
  margin-bottom: 5px;
  }

  body .view-front-end-news .views-row,
  body .view-front-end-campaigns .views-row,
  body .page-taxonomy .node-teaser .views-row,
  body .node.node-award {
  min-height: 10px;
  border: 0;
  }

  .row-offcanvas header .container,
  .row-offcanvas .container {
  margin-left: 0;
  max-width: 100%;
  }

  .view-front-end-news .article-body .text-muted {
  top: -4px;
  }

  body .view-front-end-news .article-body .field-name-body {
  top: 63px;
  }

  body .view-front-end-news .article-body .field-name-body {
  max-width: 100%;
  }
}