/* Colour theme for terrestrial MOU portals */

/* HEADER */
.search-area-and-logos {
background: url("../images/header_wave_terrestrial.png") 100% 0% no-repeat;
}

.global-menu {
border-bottom: 1px solid #0D5601;
}

.global-menu > li {
background: #0D5601;
}

.global-menu a {
color: #FFF;
}

.global-menu > .active-trail {
background: #0D5601 url("../images/arrow_hex6D9933.png") 49% 110% no-repeat;
}

.global-menu .dropdown-menu a {
color: #FFF;
}

.global-menu .active-trail,
.global-menu a:hover,
.global-menu .dropdown-menu .active-trail,
.submenu a:hover {
color: #FFD200;
}

.global-menu .dropdown-menu ul .active-trail,
.global-menu .dropdown-menu ul a:hover {
color: #0D5601;
}

.global-menu > li > ul {
background-color: #6D9933;
}

.global-menu > li > ul > li > ul {
background-color: #A7C285;
}

.global-menu > li > ul .active-trail.dropdown-submenu {
background: #6D9933 url("../images/arrow_hexA7C285.png") 49% 110% no-repeat;
}


/* NEWS slideshow */
.view-news-slideshow .views-field-title {
background-image: -webkit-linear-gradient(top, rgba(13, 86, 1, 0), rgba(13, 86, 1, 0.7));
background-image: -moz-linear-gradient(top, rgba(13, 86, 1, 0), rgba(13, 86, 1, 0.7));
background-image: -o-linear-gradient(top, rgba(13, 86, 1, 0), rgba(13, 86, 1, 0.7));
background-image: linear-gradient(to bottom, rgba(13, 86, 1, 0), rgba(13, 86, 1, 0.7));
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation {
background: rgba(13, 86, 1, 0.7);
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation li a:hover {
background: url("../images/cms_news_hover.png") no-repeat;
}

.view-news-slideshow .views-field-title a:hover,
.view-news-slideshow .view-footer a:hover {
color: #FFD116;
}


/* TABBED MENU on homepage
  Quicktabs plugin uses Style:Basic */
ul.quicktabs-tabs.quicktabs-style-basic li.active,
ul.quicktabs-tabs.quicktabs-style-basic li.active:hover {
border-top: 4px solid #FFD116;
}


/* homepage CALENDAR  */
.view-calendar table .mini-day-on a:hover {
border: 2px solid #FFD116;
}


/* buttons */
.btn-primary {
background-color: #6D9933;
border-color: #6D9933;
}

.btn-primary:hover {
background-color: #0D5601;
border-color: #0D5601;
}


/* FIXES */
.global-menu.nav-show-level-2 {
margin-bottom: 36px;
}

.global-menu.nav-show-level-3 {
margin-bottom: 74px;
}