/* FIXES for Internet Explorer 8 */

/* IE8 does not support HTML5 and media queries,
so the interface will be UNresponsive
and optimised for 1024x768px */


/* HEADER */
.container {
max-width: 970px;
}

.container .col-md-4 {
width: 323px;
}

.container .col-md-5 {
width: 404px;
}

.container .col-md-7 {
width: 566px;
}

.container .col-md-8 {
width: 647px;
}

.site-identity,
.subscribe-social .col-md-4,
.disclaimers .col-md-8 {
float: left;
}

.disclaimers .col-md-4 {
float: right;
}

.global-menu.menu.nav.navbar-nav {
margin: 0;
}

.global-menu.menu.nav.navbar-nav.nav-show-level-2 {
/* margin-bottom: 18px; */
margin-bottom: 36px;
}

.global-menu.menu.nav.navbar-nav.nav-show-level-3 {
/* margin-bottom: 36px; */
margin-bottom: 74px;
}

.global-menu.menu.nav.navbar-nav li {
display: inline-block;
}

.global-menu.menu.nav.navbar-nav h2 {
display: inline-block;
margin-top: 15px;
}

.submenu .navbar-header,
button.navbar-toggle {  /* hide button for Bootstrap collapsable menu */
display: none;
}

.region-secondary-menu,
.region-tertiary-menu {
width: 955px;
}

.search-area {
margin-top: 5px;
}


/* CENTER COLUMN */
.center-column .region-content {
width: 647px;
}

.center-column.col-md-6 {
width: 485px;
float: left;
}

.center-column.col-md-12,
.center-column.col-md-12 .region-content {
width: 970px;
}

.center-column.col-md-12.instruments-slideshow {
width: 1010px;
}

.region-sidebar-second.well,
.region-sidebar-first.well {
width: 213px;
}

.region-sidebar-first {
float: left;
}

.region-sidebar-second {
float: right;
}

.panel {
padding: 5px;
}

.col-md-8 img {
max-width: 630px;
}


/* RIGHT COLUMN */
.center-column {
float: left;
}

.right-column,
.col-md-4 {
float: right;
margin-right: -15px;
}

.well.region-sidebar-second {
float: right;
width: 293px;
}


/* article page content */
.article-date {
display: inline-block;
width: 80%;
margin-bottom: 50px;
}


/* filters */
ul.no-padding {
list-style-type: none;
}

.chapter {
font-weight: bold;
}

.generic-pagination .col-md-3 {
width: 179px;
}

.generic-pagination .col-md-6 {
width: 358px;
float: right;
}

.total-items {
float: left;
}

.view-front-end-species .view-filters select,
.view-front-end-projects .view-filters select,
.page-meetings-related-meetings .view-filters select {
min-width: 170px;
}

.view-front-end-news .views-exposed-form .form-text {
min-width: 300px;
}


/* CHANGES for integrating the old header */
.left-header {
width: 81px;
float: left;
}

.right-header {
width: 889px;
float: right;
padding-right: 0;
}

.search-area {
float: right;
}

.small-logos {
padding-right: 4px;
}

.global-menu {
width: 101.6%;
}

.navbar-nav.nav.menu.global-menu h2 {
margin-top: 10px;
}


/* fixes for menu level 2 */
.global-menu .dropdown-menu {
width: 986px !important;
}

.global-menu > li > div.submenu-teaser li,
.navbar-nav.nav.menu.global-menu div.submenu-teaser li {
display: block;
clear: both;
}

/* fixes for menu level 3 */
.submenu .secondary,
.submenu .tertiary {
margin-top: 0;
margin-left: 0;
}

.submenu,
.region-tertiary-menu {
max-height: 38px;
}


/* fixes for Species List page,
  Species profile,
  Project profile,
  Country profile,
  Instrument profile,
  Meeting profile,
  Document profile, Publication profile,
  Working Group profile,
  Campaign profile,
  Awards profile,
  News profile */
.view-front-end-species .col-md-6 {
width: 470px;
}

.view-front-end-species .view-filters,
.species-left-column,
.project-profile-left,
.country-profile-left,
.instrument-left,
.meeting-left,
.document-left,
.working-group-profile-left,
.campaign-profile-left,
.award-profile-left,
.publication-left,
.news-profile-left {
float: left;
}

.view-front-end-species .view-header,
.species-right-column,
.project-profile-right,
.country-profile-right,
.instrument-right,
.meeting-right {
float: right;
}

.container .col-md-8.species-left-column,
.container .col-md-8.project-profile-left,
.container .col-md-8.country-profile-left,
.container .col-md-8.instrument-left,
.container .col-md-8.meeting-left {
width: 627px;
}

.container .col-md-4.species-right-column,
.container .col-md-4.project-profile-right,
.container .col-md-4.country-profile-right,
.instrument-right,
.container .col-md-4.meeting-right {
width: 313px;
}

.instrument-right .field-name-field-picture {
width: 280px;
}

.profile.col-md-4 .field-label {
width: 130px;
vertical-align: top;
}


/* NEWS slideshow, skin Default */
.view-news-slideshow .views-field-title,
.view-news-slideshow .views-field-title-field {
background: url("../images/slideshow-title-bkg.png") 0% 9% repeat-x;
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation {
background: url("../images/slideshow-controls-bkg.png") repeat-x;
height: 36px;
padding-top: 5px;
}

.view-news-slideshow img {
width: 647px;
height: 337px;
}

.jcarousel-skin-default .jcarousel-container-horizontal,
.jcarousel-skin-default .jcarousel-clip-horizontal,
.jcarousel-skin-default .jcarousel-item  {
height: 337px;
}

.view-news-slideshow .views-field-title,
.view-news-slideshow .views-field-title-field {
width: 647px;
top: 194px;
height: 107px;
}

.view-news-slideshow .views-field-title a,
.view-news-slideshow .views-field-title-field a {
font-size: 18px;
line-height: 26px;
min-height: 60px;
}

.jcarousel-skin-default .jcarousel-item {
border-radius: 6px;
}

.view-news-slideshow .view-footer a {
top: 305px;
right: 3px;
padding-right: 0;
}

.view-news-slideshow .views-field-title .field-content {
margin-top: 25px;
}


/* INSTRUMENTS slideshow, skin Default */
.instruments-slideshow {
width: 970px;
}

.instruments-slideshow .view-content {
height: 140px;
}


/* AMMAP */
#states_ammap,
#drupal_ammap {
height: 25px !important;
}

.view-display-id-party_range_states_page {
color: red; /* for warning text about IE8 not supporting SVG maps */
}

.drupal_ammap_container {
display: none;
}


/* fixes for 1024px */
.global-menu-bar.collapse {
display: block;
}

.global-menu-bar.navbar-collapse {
border-top-width: 0px;
}

.small-logos {
width: 71px;
}

.ui-tabs .ui-tabs-nav li a {
padding-left: 0;
padding-right: 0;
}

.instrument-full-width.profile li a {
display: inline-block;
padding-left: 10px;
padding-right: 10px;
}
