/* FIXES for Internet Explorer 9
    for AEWA colour theme */

/* NEWS slideshow, skin Default */
.view-news-slideshow .views-field-title {
background: url("../../images/aewa-slideshow-title-bkg.png") repeat-x;
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation {
background: url("../../images/aewa-slideshow-controls-bkg.png") repeat-x;
}

