/* FIXES for Internet Explorer 9
    for CMS colour theme */

/* NEWS slideshow, skin Default */
.view-news-slideshow .views-field-title {
background: url("../../images/cms-slideshow-title-bkg.png") repeat-x;
}

.view-news-slideshow .jcarousel-skin-default .jcarousel-navigation {
background: url("../../images/cms-slideshow-controls-bkg.png") repeat-x;
}

